<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>NoScriptRDR | Will M</title>
    <link rel="icon" href="https://willm.xyz/mr_quackers.png">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's shit-->
    <script src="/script.js" defer></script>
  </head>  
  <body>
    <h1 class="center">NoScriptRDR<br><span style="font-size: 18px"><i>Beautiful no-script pages for your website.</i></span></h1>
    
<hr>
    <p>
     NoScriptRDR is a no-script page generator. You can make easy pages that show a user doesn't have JavaScript enabled. Also, this site is open source on <a href="https://github.com/whasonyt/noscriptrdr">GitHub</a>.
    </p>
    
    <h2 class="center">
      Created! Add the following code to your site to redirect users without JavaScript. 
    </h2>
    <center>
    <code id="site-code">Test</code>
<p style="color: red;"><i>*Remember to put this between your &lt;head&gt; and &lt;/head&gt; tags!</i></p>
      <br><br>
<p id="preview-here">
  
      </p>
</center>
      <footer>For testing purposes, please have JavaScript enabled on NoScriptRDR while creating your page. <br>
Made with <span style="color: red">❤</span> by <a href="https://willm.xyz">Will M</a>.
    </footer>
 </body>
</html>
