body {
  font-family: helvetica, arial, sans-serif;
  margin: 1em;
  background: #23272A;
  color: white;
  font-size: 112%
}
input {
  color: black;
  border: none !important;
  font-size: 112%;
  width: 20em;
  border-radius: 5px;
  margin: 20px;
}
select {
  color: black;
  border: none !important;
  font-size: 112%;
  border-radius: 5px;
}
a {color: white;}
.center {text-align: center;}
code{background-color:#f5f5f5;color:black; padding: 0.5em; border-radius: 5px; text-align: center;}
footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: inherit;
   color: white;
   text-align: center;
  border: 1px solid black;
}